body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(229, 229, 247);
    /* opacity: 0.5; */
    background: 
    linear-gradient(135deg, #04040855 25%, transparent 25%) -29px 0/ 58px 58px, 
    linear-gradient(225deg, #040408 25%, transparent 25%) -29px 0/ 58px 58px, 
    linear-gradient(315deg, #04040855 25%, transparent 25%) 0px 0/ 58px 58px, 
    linear-gradient(45deg, #040408 25%, #e5e5f7 25%) 0px 0/ 58px 58px;
}

.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: auto;
    padding: 140px 120px 200px 120px;
    border: 3px solid #ccc;
    border-radius: 15px;
    width: 150px;
    height: 200px;
    background-color: rgba(34, 34, 34, .7);
  }
  
  .calculadora input[type="text"] {
    width: 22.5em;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .calculadora input::placeholder {
    font-size: 1.5em;
    font-weight: 600;
  }
  
  .calculadora button {
    width: 7em;
    height: 3.5em;
    font-weight: 800;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #0e67db;
    cursor: pointer;
  }

  .calculadora button:hover {
    background-color: #579bf5;
  }

  #inputs {
    margin-top: 80px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-top: 25px;
  }

  @media (max-width: 482px) {

    main {
      width: 380px;
    }

    .calculadora {
      width: 100px;
    }

    .calculadora input[type="text"] {
      width: 19.5em;
      padding: 13px;
    }

    .calculadora button {
      width: 6em;
      height: 3.5em;
    }
  }